---
layout: default
title: Index
---

<h1 class="padding">Free online stock signals.</h1>

<section class="news padding">
    <h4 class="strong">Latest update - 05 Jun 2018</h4>
    <h2 class="news__title">At esse quae illum, ipsum recusandae excepturi.</h2>
    <p class="news__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sit, aut ipsam ut provident voluptatem commodi eos porro ullam recusandae velit amet voluptates, nihil architecto vel consequatur iure sunt molestias a, molestiae cumque quo delectus! Nesciunt sapiente cumque nam sunt expedita velit asperiores!
    <a href="#" title="Title">read more ></a>        
    </p>
</section>

<section class="signal signals-heading">
    <span class="strong">SIGNAL</span>
    <span class="strong">STOCK</span>
    <span class="strong">DATE</span>
    <span class="strong">CHANGE</span>
</section>

<section class="signal signal--warning">
    <span>
        <span class="signal__number">#<strong class="strong">99</strong></span>&nbsp;
        <span class="signal__type strong warning">{% include/svg/cross.svg %} exit | sell</span>
    </span>
    <span>
        <span class="signal__ticker strong large">AVON</span>&nbsp;
        <span class="signal__price">Price <strong class="strong">210.00</strong></span>
    </span>
    <span>
        <span class="signal__date strong">05 Jun 2018</span>&nbsp;
        <span class="signal__duration">Duration <strong class="strong">99 days</strong></span>
    </span>
    <span class="signal__difference">Loss <strong class="strong warning large">+9%</strong></span>
</section>

<section class="signal">
    <span>
        <span class="signal__number">#<strong class="strong">99</strong></span>&nbsp;
        <span class="signal__type strong">{% include/svg/arrow-up.svg %} entry | buy</span>
    </span>
    <span>
        <span class="signal__ticker strong large">AVON</span>&nbsp;
        <span class="signal__price">Price <strong class="strong">210.00</strong></span>
    </span>
    <span>
        <span class="signal__date strong">05 Jun 2018</span>&nbsp;
        <span class="signal__duration">Duration <strong class="strong">3 - 12 weeks</strong></span>
    </span>
    <span class="signal__difference">Target <strong class="strong large">-9%</strong></span>
</section>

<section class="signal signal--confirm">
    <span>
        <span class="signal__number">#<strong class="strong">99</strong></span>&nbsp;
        <span class="signal__type strong confirm">{% include/svg/check.svg %} exit | sell</span>
    </span>
    <span>
        <span class="signal__ticker strong large">AVON</span>&nbsp;
        <span class="signal__price">Price <strong class="strong">210.00</strong></span>
    </span>
    <span>
        <span class="signal__date strong">05 Jun 2018</span>&nbsp;
        <span class="signal__duration">Duration <strong class="strong">99 days</strong></span>
    </span>
    <span class="signal__difference">Gain <strong class="strong confirm large">+9%</strong></span>
</section>

<section class="signal">
    <span>
        <span class="signal__number">#<strong class="strong">99</strong></span>&nbsp;
        <span class="signal__type strong">{% include/svg/arrow-up.svg %} entry | buy</span>
    </span>
    <span>
        <span class="signal__ticker strong large">AVON</span>&nbsp;
        <span class="signal__price">Price <strong class="strong">210.00</strong></span>
    </span>
    <span>
        <span class="signal__date strong">05 Jun 2018</span>&nbsp;
        <span class="signal__duration">Duration <strong class="strong">3-12 months</strong></span>
    </span>
    <span class="signal__difference">Target <strong class="strong large">+9%</strong></span>
</section>