//----------------
//  VARIABLES
//----------------


// Colours
$text: #000;
$blue: #E6EFFD;
$dark: #484848;
$light: #F4F4F4;
$link: #2B6DCF;
$border: #CACACA;

$confirm: #50A200;
$confirm-light: #E6F7E8;
$warning: #C50000;
$warning-light: #FAE6E6;

// Spacing
$base-unit: 12px;
$double-unit: $base-unit * 2;
$half-unit: $base-unit / 2;

$small: 767px;
$medium: 1024px;
$large: 1200px;

$site-width: $medium;