//----------------
//  VARIABLES
//----------------


// Colours
$primary-colour: #ec2727;
$secondary-colour: lightcoral;
$light: beige;
$dark: #333;

// Spacing
$base-unit: 12px;
$base-unitx2: $base-unit * 2;

$small: 767px;
$medium: 1024px;
$large: 1200px;

$site-width: $medium;