{% for post in site.posts %}
<article class="signal {% if post.style %}{{ post.style }}{% endif %}">
    <section class="signal__intro">
        <span class="signal__ticker">
            <span class="large">{{ post.symbol | upcase }}</span>
            <span class="small">{{ post.exchange | upcase }}</span>
        </span>
        <a class="signal__number small" href="{{ post.url }}">#{{ post.date | date: "%Y-%m-%d" }}-{{ post.symbol | upcase }}</a>        
    </section>
    <section class="signal__details">
        <div class="signal__entry">
            <span class="signal__date strong">{{ post.start | upcase }}</span>
            <span class="signal__date"> - {{ post.date | date_to_string }}</span>
            <span class="signal__price"> - price <strong class="strong">{{ post.start-price }}</strong></span>
        </div>
        <div class="signal__exit{% unless post.end-date %} inactive{% endunless %}">
            <span class="signal__date strong">{{ post.end | upcase }}</span>
            <span class="signal__date"> - {% if post.end-date %}{{ post.end-date | date_to_string }}{% else %} ----{% endif %}</span>
            <span class="signal__price"> - price {% if post.end-price %}<strong class="strong">{{ post.end-price }}</strong>{% else %}--{% endif %}</span>
        </div>
        <div class="signal__difference">Change <strong class="strong {% if post.style %}{{ post.style }}{% endif %}">{{ post.change }}%</strong></div>      
    </section>
</article>
{% endfor %}