//----------------
//  FONTS
//----------------

body{
    color: $dark;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
    font-weight: 400;
}

p{
    margin: 0;
}

a{
    color: $link;
    text-decoration: none;
    font-weight: 400;

    &:hover, &:active{
        color: $confirm;
        text-decoration: underline;
    }
}

.strong{
    font-weight: 400;
}

.large{
    font-size: 18px;
    vertical-align: middle;
}