//----------------
//  HEADER
//----------------

header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border;
}

.logo{
    flex-grow: 0;
    flex-basis: 0;
    font-weight: 300;
    font-size: 20px;
    
    a{
        color: $text;        
    }
}