//----------------
//  HEADER NAV
//----------------

nav{
    flex-basis: 0;
    flex-grow: 1;
    text-align: right;
}

.inline-list{
    padding: 0;
    margin: 0;
    list-style: none;

    &__item{
        display: inline-block;
    }

    &__link{
        // color: $light;
        padding: 0 $base-unit;
    }
}

.channels{
    flex-basis: 0;
    flex-grow: 1;
}