//----------------
//  SIGNAL
//----------------

.signal{
    border-bottom: 1px solid $border;
    padding: $half-unit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > *{
        padding: $half-unit;
        align-self: flex-end;
    }

    .ticker{
        margin: 0;
    }

    svg{
        height: 14px;
        vertical-align: middle;
    }

    &--confirm{
        background-color: $confirm-light;
        border-color: $confirm; 
    }

    &--warning{
        background-color: $warning-light;
        border-color: $warning;
    }
}