//----------------
//  SIGNAL
//----------------

.signal{
    border-bottom: 1px solid $border;
    padding: $half-unit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > *{
        padding: $half-unit;
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        @include screen-bigger-than($small){
            width: 50%;
        }
    }

    & section > *{
        width: 33%;
    }

    svg{
        height: 16px;
        vertical-align: middle;
    }
}

.signals-heading{
    display: none;

    @include screen-bigger-than($small){
        display: flex;
    }
}