//----------------
//  SIGNAL
//----------------

.signal{
    border-bottom: 1px solid $border;
    padding: $half-unit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > *{
        padding: $half-unit;
        align-self: center;
    }

    svg{
        height: 16px;
        vertical-align: middle;
    }

    &--confirm{
        background-color: $confirm-light;
        border-color: $confirm; 
    }

    &--warning{
        background-color: $warning-light;
        border-color: $warning;
    }
}

.signals-heading{
    display: none;

    @include screen-bigger-than($small){
        display: flex;
    }
}